html {
    font-family: 'Cantarell', sans-serif;
    /*color: whitesmoke;*/
}


.ctn-header, .ctn-logo-sign ,.ctn-logo , .ctn-mainmenuitems, .ctn-sign
{
    display: flex;
    flex-flow: row wrap;
    border: #9ef8ff 1px solid;
}
.ctn-logo-sign , .mainmenu{
    width: 100%;
    justify-content: space-around;
    /*align-items: center;*/
    min-height: 5vh;
}
.ctn-logo {
    width: 50%;
    align-items:center ;
    justify-content: space-around;
}

.ctn-sign {
    width: 50%;
    align-items: center;
    justify-content: space-around;
}


.ctn-mainmenuitems {
    margin: 0 1vw;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
}
#idx-atf {
    /* layout */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ce98df;
}


#idx-atf > div {
    height: 75vh;
}

.idx-center-spacebetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

}

.idx-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #9ef8ff 1px solid;

}

#idx-atf h1 {
    font-size: 2.3rem;
    text-align: center;
    font-weight: 700;
    padding: 1rem;
    line-height: 3rem;
    border: #9ef8ff 1px solid;

}

#idx-atf h2 {
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    line-height: 2;
    border: #9ef8ff 1px solid;



}

#idx-atf h3 {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 1.5rem;
    line-height: 1.8rem;
    border: #9ef8ff 1px solid;

}

#idx-atf button {
    background-color: #e24f54;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 700;
    border: 2px solid white;
    padding: .7rem 1.2rem;
    border-radius: 3vh;
}

.grayBGarea {
    height: 400vh;
    background-color: #e3e8eb;
}


.idx-news{
    display: flex;
    flex-flow: column nowrap;
    height: 1500px;
    background-color: #e3e8eb;
    border: 1px solid hotpink;
    width: 100%;
}

.news {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width 80%;
    border: 1px solid hotpink;
    height: 200px;
}
.ctn-news-thumb{
    width: 30%;
    border: 1px solid hotpink;
    background-color: #9ef8ff;
    height: 80%;
    margin: 3%;

}
.ctn-news-txt{
    width: 50%;
    border: 1px solid hotpink;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: flex-start;
    margin: 3%;
    height: 100%;
}
.ctn-navbar {
    height: 60vh;
    display: flex;
    flex-flow: row wrap;
    background-color: khaki;
    justify-content: center;
    align-items: center;
}
.ftr-nav {
    width: 33.3%;
    justify-content: center;
    align-items: center;
}

.ftr-nav ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

