
html {
    background-color: #2089e4;
}
img {
    border: groove yellow 25px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
body {
    width: 50%;
    background-color: #00C957;
    padding: 0 25px;
    margin-left: 100px;
    border: solid black 5px;
}
h1 {
    color: blue;
    font-size: 30px;
}
h2 {
    color: red;
font-size: 30px
}
